<ul id="comments">
  <% commentable.comments.each do |comment| %>
	  <li>
		  <div>
			<%= comment.title %>

			posted by <%= comment.author_name %>
		  </div>
		  <div>
			<%= comment.message %>
		  </div>
	  </li>
  <% end %>
</ul>

<%= render 'comments/form', commentable:  commentable %>